
.profile-image {
    border-radius: 50%;
    border: 1px solid #000;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: rgb(4, 4, 79);
    background: linear-gradient(90deg, rgba(4, 4, 79, 1) 0%, rgba(25, 18, 158, 1) 52%, rgba(0, 149, 180, 1) 100%); */
}

.profile h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}

.profile p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
    margin: 2px 5rem;
}
