@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slider {
    width: 80%;
    margin: 10rem auto;
    height: 570px;
}

@media (max-width: 600px) {
    .slider {
        width: 100%;
        margin: 10rem auto;
        height: 570px;
        justify-content: center;
    }
}

.card {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.5;
    min-width: 320px;
    height: 550px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

.active-card {
    transform: scale(1);
    opacity: 1;
}

.arrow {
    color: black;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.next {
    right: 0%;
    top: 50%;
}

.prev {
    left: 0%;
    top: 50%;
}